*{
	margin: 0rem;
	padding: 0rem;
	font-style: normal;
	list-style: none;
	box-sizing: border-box;
}
.dh{
	height: 1.28rem;
	background-color: #eb4444;
}
.dh1{
	width: 7.5rem;
	height: 0.88rem;
	padding-top: 0.4rem;
	display: flex;
	align-items: center;
	justify-content:space-around;
}
.dh1 img{
	width: 0.41rem;
	height: 0.41rem;
	color: white;
	margin-left: 0.24rem;
}
.dh1 i{
	display: block;
	color: white;
	font-size: 0.24rem;
	margin-left: 0.01rem;
	line-height: 0.88rem;
}
.dh1 input{
	width: 4.56rem;
	height: 0.46rem;
	border:none;
	border-radius: 0.23rem;
	margin-right: 0.24rem;
	margin-bottom: 0.55rem;
}
.banner{
	width: 94%;
	height: 4rem;
	margin: auto;
	/*background-color: yellow;*/
	margin-top: 0.24rem;
	border-radius: 0.15rem;
	position: relative;
	overflow: hidden;
}
/*.banner a{
	display: block;
	width: 100%;
	height: 100%;
}*/
.banner  img{
	width: 100%;
	height: 4rem;
	/*margin: auto;*/
	border-radius: 0.15rem;
	position: absolute;
	top: 0;
}
.bot{
	width: 2.1rem;
	height: 0.08rem;
	margin: auto;
	margin-top: 3.5rem;
	display: flex;
	justify-content: space-between;
	
}
.bot1{
	width: 0.5rem;
	height: 0.08rem;
	background-color: #fcfbfb;
	border-radius: 4px;
	cursor: pointer;
	z-index: 999;
}
/*.bot1.active{
	background: red;
}*/
.active{
	background: red;
}
.banner1{
	width: 100%;
	height: 3rem;
	margin: auto;
	margin-top: 0.3rem;
	list-style: none;
}
.banner1 img{
	width: 0.85rem;
	height: 0.85rem;
	margin-left: 0.5rem;
}
.banner1 p{
	font-size: 0.24rem;
	color: #fb3959;
	line-height: 0.8;
	text-align: center;
}
.daxiao{
	width: 25%;
	height: 1.4rem;
	float: left;
}
.banner2{
	width: 7.02rem;
	height: 1.52rem;
	margin: auto;
	background-color: yellow;
	margin-top: 0.24rem;
	margin-bottom: 0.24rem;
	border-radius: 0.15rem;
}
.banner2 input{
	width: 7.02rem;
	height: 1.52rem;
	border-radius: 0.15rem;
}
.tjsj{
	width: 1.65rem;
	height: 0.55rem;
	margin: auto;
	display: flex;
	justify-content: center;
}
.tjsj input{
	width: 0.27rem;
	height: 0.27rem;
}
.tjsj span{
	font-size: 0.24rem;
	color: #f63757;
}
.sigz{
	width: 7.02rem;
	height: 0.35rem;
	/*background-color: yellow;*/
	margin: auto;
	list-style: none;
}
.sigz li{
	width: 25%;
	height: 100%;
	float: left;
	font-size: 0.24rem;
	line-height: 0.35rem;
}
.sigz>li>a{
	color: #f63757;
	text-decoration: none;
}
.sigz img{
	width: 0.15rem;
	height: 0.15rem
}
.huise{
	width: 100%;
	background-color: #dcdcdc;
	margin-bottom: 1rem;
}
.dianpu{
	width: 7.02rem;
	height: 1.65rem;
	background-color: white;
	margin-top: 0.24rem;
	margin: auto;
	border-radius: 0.2rem;
	border-top-style: solid;
	border-top-color:  #dcdcdc;
	border-bottom-style: solid;
	border-bottom-color: #dcdcdc;
	border-bottom-width: 0.2rem;
	position: relative;
}
.dianpu>a>input{
	width: 1.21rem;
	height: 1.21rem;
	margin-top: 0.24rem;
	margin-left: 0.24rem;
}
.jieshao{
	height: 1.51rem;
	width: 5.43rem;
	position: absolute;
	right: 0;
	bottom: 0;
}
.jieshao h2{
	font-size: 0.24rem;
	font-weight: normal;
}
.jieshao>div{
	margin-top: -0.75rem;
}
/*.jieshao>div>input{
	width: 1rem;
	height: 0.2rem;
}*/
.jieshao>span{
	display: block;
	height: 0.13rem;
	font-size: 0.12rem;
	margin-top: -0.45rem;
	margin-left: 1.3rem;
	margin-bottom: 0.1rem;
	color: grey;
}
/*.jieshao>p{
	display: block;
	font-size: 0.12rem;
	color: black;
	height: 0.13rem;
}*/
.jieshao>ul{
	width: 3.5rem;
	height: 0.6rem;
	list-style: none;
}
.jieshao>ul>li{
	width: 3.5rem;
	height: 0.3rem;
	float: left;
	display: flex;
}
.jieshao>ul>li>input{
	width: 0.21rem;
	height: 0.11rem;
	margin-top: 0.03rem;
}
.jieshao>ul>li>span{
	width: 5rem;
	font-size: 0.12rem;
	color: grey;
	margin-left: 0.1rem;
}
.dibu{
	list-style: none;
	height: 1.02rem;
	width: 100%;
	margin: auto;
	background-color: white;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 333;
}
.dibu li{
	width: 25%;
}
.dibu img.dibu1{
	width: 0.6rem;
}
.dibu img.dibu2{
	width: 0.5rem;
}
.dibu img.dibu3{
	width: 0.47rem;
}
.dibu img.dibu4{
	width: 0.51rem;
}



